openapi: 3.1.0
info:
  title: Nasdaq Data Link Time-Series REST Databases API
  description: Nasdaq Data Link REST API (formerly Quandl) provides access to financial and economic time-series datasets including stock prices, economic indicators, interest rates, and commodity data in JSON, XML, and CSV formats. Authenticated users receive up to 50,000 API calls per day.
  version: 3.0.0
  contact:
    name: Nasdaq Data Link Support
    url: https://docs.data.nasdaq.com/docs/contact-support
  license:
    name: Nasdaq Data Link Terms of Use
    url: https://data.nasdaq.com/terms
servers:
- url: https://data.nasdaq.com/api/v3
  description: Nasdaq Data Link API
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Databases
  description: Database catalog and metadata
paths:
  /databases:
    get:
      operationId: listDatabases
      summary: List databases
      description: Returns a list of all available Nasdaq Data Link databases with metadata.
      tags:
      - Databases
      parameters:
      - name: per_page
        in: query
        schema:
          type: integer
          default: 100
          maximum: 100
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: query
        in: query
        description: Search query for database name or description
        schema:
          type: string
      responses:
        '200':
          description: Database list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /databases/{databaseCode}:
    get:
      operationId: getDatabase
      summary: Get database metadata
      description: Returns metadata for a specific Nasdaq Data Link database.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/DatabaseCode'
      responses:
        '200':
          description: Database metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /databases/{databaseCode}/datasets:
    get:
      operationId: listDatabaseDatasets
      summary: List datasets in a database
      description: Returns all datasets available in a specific database.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/DatabaseCode'
      - name: per_page
        in: query
        schema:
          type: integer
          default: 100
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: query
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Dataset list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetListResponse'
components:
  schemas:
    DatasetMetadata:
      type: object
      properties:
        id:
          type: integer
        dataset_code:
          type: string
        database_code:
          type: string
        name:
          type: string
        description:
          type: string
        refreshed_at:
          type: string
          format: date-time
        newest_available_date:
          type: string
          format: date
        oldest_available_date:
          type: string
          format: date
        column_names:
          type: array
          items:
            type: string
        frequency:
          type: string
        premium:
          type: boolean
    PaginationMeta:
      type: object
      properties:
        query:
          type: string
        per_page:
          type: integer
        current_page:
          type: integer
        prev_page:
          type: integer
          nullable: true
        next_page:
          type: integer
          nullable: true
        total_count:
          type: integer
    DatabaseListResponse:
      type: object
      properties:
        databases:
          type: array
          items:
            $ref: '#/components/schemas/Database'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    DatasetListResponse:
      type: object
      properties:
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/DatasetMetadata'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    DatabaseResponse:
      type: object
      properties:
        database:
          $ref: '#/components/schemas/Database'
    QuandlError:
      type: object
      properties:
        quandl_error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    Database:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        database_code:
          type: string
        description:
          type: string
        datasets_count:
          type: integer
        downloads:
          type: integer
        premium:
          type: boolean
        image:
          type: string
          format: uri
        favorite:
          type: boolean
        url_name:
          type: string
  responses:
    NotFound:
      description: Dataset or database not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuandlError'
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuandlError'
  parameters:
    DatabaseCode:
      name: databaseCode
      in: path
      required: true
      description: Database code (e.g., FRED, WIKI, CHRIS, BCOM)
      schema:
        type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Nasdaq Data Link API key passed as query parameter
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Token
      description: Nasdaq Data Link API key passed as header
